<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Phone Pay Integration</title>
</head>
<body>
    <br>
  
        <h1>Phone Pay Integration</h1>
        <br>
        <hr>
        <form action="/payment/initiate_payment" method="post">
            <label for="amount">Enter Amount</label>
            <input type="number" name="amount" id="amount">
            <br><hr>
            <button type="submit" name="submit_form">Pay Now</button>
        </form>
        
 
</body>
</html>

